* {
  box-sizing: border-box;
}

html,
body {
  color: #333;
  font-family: Roboto, sans-serif;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 2rem;
  padding: 0;
}

ul {
  margin: 0 0 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
  margin: 0 0 2rem;
}

h3 {
  font-size: 1.2rem;
  margin: 0 0 1.6rem;
}

.fejlec {
  background: #092b79;
  color: #fff;
  padding: 1rem;
}

.lab{
  background: #bfc0c4;
  color: rgb(0, 0, 0);
  padding: 1rem;
}

.navigacio {
  margin: 0 auto;
  max-width: 50rem;
  text-align: right;
}

.navigacio a {
  color: #fff;
  border-bottom: 0.16rem solid #092b79;
  display: inline-block;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
}

.navigacio a.aktiv,
.navigacio a:hover {
  border-bottom: 0.16rem solid #fff;
}

.oldal-cim {
  background: #092b79;
  padding: 1rem 0;
}

.oldal-cim h1 {
  color: #fff;
  margin: 0 auto;
  max-width: 50rem;
  padding: 0 1rem;
}

.tartalom {
  margin: 0 auto;
  max-width: 50rem;
  padding: 2rem 1rem 1rem;
}

.kartyak {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2rem;
}

.kartya {
  background: #f5f5f5;
  border: 0px solid #eee;
  border-radius: 0.2rem;
  display: inline-block;
  margin: 0.5rem;
  max-width: 100%;
  flex: 16rem;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0,0,0,0.3);
  border-radius: 1rem;
  overflow: hidden;
  
}

.kartya img {
  width: 100%;
  
  
}

.kartya a{
text-decoration: none;
}

.kartya a:hover{
opacity: 0.7;
}

.csakkep{
  
}

.csakkep img{
  float: left;
}

.kartya p {
  margin: 0;
  padding: 1rem;
  font-size: 1.6rem;
  color: #333;
  text-align: center;
}

.video{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}

.video iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

